@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Root variabel warna */
:root {
  --background: #ffffff;
  --primary-color: #0d47a1;
  --secondary-color: #90caf9;
  --text-color: #171717;
  --border-color: #e0e0e0;
  --error-color: #e53935;
}

/* Gaya dasar */
body {
  color: var(--text-color);
  background: var(--background);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}


input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 4px var(--primary-color);
}

/* Pesan error */
.error-message {
  margin-top: 1rem;
  color: var(--error-color);
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
}
